<div id="app container" >
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search>
        
      </search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player 
        current-video = "ctrl.currentVideo"
      >
      </video-player>
    </div>
    <div class="col-md-5">
      <div class ="videoList"'>
        <video-list
          videos="ctrl.videos"
          on-click="ctrl.onClick"
        >
        </video-list>
      </div>
    </div>
  <div>
</div>


<!-- <div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search><h5><em>search</em> component goes here</h5></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player><h5><em>videoPlayer</em> component goes here</h5></video-player>
    </div>
    <div class="col-md-5">
          <div class ="videoList" ng-controller="ctlr">
            <video-list
            videos="props.videos"
            >
            </video-list>
          </div>
    </div>
      <div>
      </div> -->